@import "../node_modules/antd/dist/antd.css";

.App {
}

.AppWrappen {
    padding: 0 50px;
}

.AppContent {
    background-color: white;
    padding: 25px;
    min-height: 300px;
}

.ant-row {
    margin-bottom: 10px;
}

.ant-card {
    margin-bottom: 10px;
}

ul,
ul > li {
    list-style: none;
}

li > h2 > *,
li > h3 > * {
    line-height: 48px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
}

.map {
    width: 100%;
    height: 300px;
}
