@import "../node_modules/antd/dist/antd.css";

ul,
ul > li {
  list-style: none;
}

li > h2 > *,
li > h3 > * {
  line-height: 48px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 24px;
}

.map {
  width: 600pt;
  height: 300pt;
}
