.order-list-btn {
  float: right;
  margin-bottom: 10px;
}

.order-list {
  min-height: 40px;
  padding: 20px;
  background-color: #222;
  margin: 20px 0 20px;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
  margin-top: 15px;
}

thead,
tfoot {
  background-color: #375a7f;
  font-size: 20px;
}

tbody {
  background-color: #303030;
  font-size: 18px;
}

th {
  border-bottom: 4px solid #00bc8c;
  padding: 10px;
  text-align: center;
}

td {
  padding: 10px;
  text-align: center;
}

tr {
  border-bottom: 1px solid #00bc8c;
}

.total-price {
  font-size: 22px;
  float: right;
  margin-right: 20px;
}
